name: Build # and Deploy to GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
    - name: Checkout
      uses: actions/checkout@v2 # If you're using actions/checkout@v2 you must set persist-credentials to false in most cases for the deployment to work correctly.
      with:
        persist-credentials: false
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Build
      run: |
         npm install -g nx
         npm install
         nx build farming-game-remote-host
    # - name: Deploy
    #   uses: JamesIves/github-pages-deploy-action@releases/v2
    #   env:
    #     ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
    #     BASE_BRANCH: master
    #     BRANCH: gh-pages
    #     FOLDER: dist/FarmingGameNetAssetCalculator
